<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
    <immediateFlush>false</immediateFlush>
	</appender>

	<!--
	    Configure the Sentry appender, overriding the logging threshold to the WARN level

	    Usage : https://docs.sentry.io/clients/java/modules/logback/
	-->
	<appender name="Sentry" class="io.sentry.logback.SentryAppender">
		<!--filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter-->
		<!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>return level > INFO &amp;&amp; !formattedMessage.contains("crashed with") &amp;&amp; !formattedMessage.contains("failed to execute");</expression>
				<!-- TODO : uncomment if you want to log with marker -->
				<!--expression>return marker!=null &amp;&amp; marker.contains("CustomMarker");</expression-->
			</evaluator>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>NEUTRAL</OnMatch>
		</filter>
	</appender>

	<!-- Uncomment for logging ALL HTTP request and responses -->
	<!-- 	<logger name="io.gatling.http.ahc" level="TRACE" /> -->
	<!--    <logger name="io.gatling.http.response" level="TRACE" /> -->
	<!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
	<!-- 	<logger name="io.gatling.http.ahc" level="DEBUG" /> -->
	<!--    <logger name="io.gatling.http.response" level="DEBUG" /> -->

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
        <appender-ref ref="Sentry" />
	</root>

</configuration>
